@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    /* --main-color: black; */
    background-color: black !important;
}
/* h1, h2, p, section, header, main,
div .row {
    background-color: black;
} */

footer {
    margin: 0;
    padding: 0;
}


.bg-dark {
    background-color: black !important;
}

.btn-primary {
    color: darkslategrey;
    background-color: black;
    border-color: black;
}

.btn-primary:hover {
    background-color: black !important;
    color: lightslategrey !important;
    border-color: black !important;
}